<!DOCTYPE html>
<html lang="en">
<head>
  <title>Protect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  
</head>
<body>

<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Register & login </h1> 
   
  
   
  </div>
  <div class="row">
    <div class="col-6" style="text-align: left;">
    <h2>Parents Register Form</h2>
    {% if r_error : %}
    <h3 class="text-danger">{{r_error}}</h3>
    {% endif %}
    <form name="register_form" method="post" id ="signupForm" action="{{url_for('signup')}}" onsubmit="return register_validation()">
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="mb-3 mt-3">
          <label for="name">Fullname with space:</label>
          <input type="name" class="form-control" id="username" placeholder="Enter name" name="name" required>
        </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      </div>
      <div class="mb-3">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="c_pswd" required>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="Register">
    </form>

  </div>
  <div class="col-6" >
    
    <h2>login here</h2>
    {% if error : %}
    <p class="text-danger">{{error}}</p>
    {% endif %}
  <form name="login_form" method="post" action="{{url_for('login')}}" onsubmit="return login_validation()">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
  
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
  
    <input type="submit" class="btn btn-primary" value="login">
  </form>

  </div>
 
</div>
<script>
  function login_validation(){
    let email = document.login_form.email.value;
    let password = document.login_form.pswd.value;
    if(email && password !=null){
      return true
    }
    return false
  }
  function register_validation(){
    password1 = document.register_form.pswd.value;
    password2 = document.register_form.c_pswd.value;
      // If password not entered
      if (password1 == '')
      {
        alert ("Please enter Password");
      }
        
        
          
    // If confirm password not entered
    else if (password2 == ''){
      alert ("Please enter confirm password");
        return false;

    }
       
          
    // If Not same return False.    
    else if (password1 != password2) {
        alert ("\nPassword did not match: Please type correct password...")
        return false;
    }
    else{
      return true
    }

  }
</script>
</body>
</html>
